.footer {
  display: flex;
  background-color: var(--background-hero-footer);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer__logo {
  color: var(--primary-white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.address {
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link {
  color: var(--primary-white-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/*  footer social  */
.icon__social {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}

.footer__join {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

/* footer social-items */

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}

.footer__social-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

/* <!-- Підпишись на розсилку (форма) --> */

.footer__form {
  margin-left: auto;
}

.social__join {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.footer__form-field {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}

.footer__form-field input {
  width: 358px;
  height: 50px;

  outline: unset;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form__input {
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    border: 1px solid var(--accent-color);
  }
}

.form__btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
