.filter {
display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
  gap: 8px;
  row-gap: 15px;

  @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      flex-wrap: nowrap;
      justify-content: center;
    }
}

.filter__btn {
  background-color: var(--background-team);
  padding: 6px 25px;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}
